<div class="modal-header">
  Achievements
  <button class="close" type="button" data-dismiss="modal">
    <span aria-hidden='true'> &times;</span>
  </button>
</div>
<div class="awards clearfix modal-body">
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('silver-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('bronze-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
</div>
<div class="modal-footer">
</div>
