<div class="secondary-navigation">
  <div class="container">
    <div class="col-md-4">
      <<
    </div>
    <p class="col-md-4">
      Week of 11/01/14
    </p>
    <div class="col-md-4">
      >>
    </div>
  </div>
</div>
<div class="weekly-stats">
  <div class="col-md-8">
    <h1 class="chart-header">Running Statistics</h1>
    <canvas id="statistics-graph" width="800" height="400"></canvas>
  </div>
  <div class="col-md-4">    
    <h3>Day with Largest Heartbeat Average</h3>
    <p>11/04/14 with 130 BPM</p>
    <h3>Day with Smallest Heartbeat Average</h3>
    <p>11/01/14 with 130 BPM</p>
    <h3>Average Heart Beat Throughout Week</h3>
    <p>110 BPM</p>
  </div>
</div>
<div class="awards col-md-8">
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <figure class="col-md-4">
    <%= image_tag('gold-achievement.png') %>
    <figcaption>Improved Endurance</figcaption>
  </figure>
  <a class="form-control clearfix btn btn-primary">More Achievements</a>
</div>
<div class="goals col-md-4">
  <h2>Primary Goals</h2>
  <p><span class="fa fa-arrow-circle-o-up goal-increase"></span>Increase my Endurance by the end of the year</p>
  <p><span class="fa fa-check goal-on-track"></span>Increase my Endurance by the end of the year</p>
  <p><span class="fa fa-arrow-circle-o-down goal-decrease"></span>Ensure I keep a consistent heart beat during my runs</p>
</div>
